# Media/cache - không đồng bộ
wp-content/uploads/**
wp-content/cache/**
wp-content/upgrade/**
wp-content/wflogs/**

# File nhạy cảm - không nên deploy qua Git
wp-config.php
.htaccess

# Rác dev
**/*.log
node_modules/**
vendor/**/tests/**
.DS_Store
